<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931756988579-el332j7m5nujrsjear1lkhai0hq06ge7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931756988579-el332j7m5nujrsjear1lkhai0hq06ge7</string>
	<key>API_KEY</key>
	<string>AIzaSyDCTuML9vqIDzGcQAOuUB-BggwJtiVwutw</string>
	<key>GCM_SENDER_ID</key>
	<string>931756988579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fathah</string>
	<key>PROJECT_ID</key>
	<string>fathah-dc98c</string>
	<key>STORAGE_BUCKET</key>
	<string>fathah-dc98c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931756988579:ios:35f3fd12010425423c0716</string>
</dict>
</plist>